body{
  background: url(../img/fondo-img.jpg);
  background-attachment: fixed;
}


.social{
  width: 55px;
}

/* label color */
   .input-field label {
     color: #000000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000000;
   }

.autor{
  text-align: center;
}

.samana{
  text-align: right;
}

.foto{
  width: 150px;
}
